.DS_Store
data/
preprocessing/data/
cross_correlations/
feature_importace/
multicollinearity/
correlations/
preprocessing.log
petterData/
h2o_models/
*.model
pred_A.csv
pred_B.csv
pred_C.csv
saved_models/
submission.csv
submission.xlsx
feature_engineering_analysis.csv
features.csv
venv_setup.log
stack_models/
catboost_info/
AutogluonModels/
*.pkl
test_plan/
test_results/